@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400&subset=latin-ext');

// Custom variables
$family-primary: 'Raleway', sans-serif;

// Base modules
@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';

// Components
@import '~bulma/sass/components/_all';

// Layout
@import '~bulma/sass/layout/_all';

// Elements
@import '~bulma/sass/elements/_all';

// Grid
@import '~bulma/sass/grid/_all';

// Form
@import '~bulma/sass/form/_all';
